
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>

<div class="grid_right">
    <div class="grid_right__form">
        <h3>Добавление нового пользователя</h3>
        <form action="" method="">
            <div class="form_add__input">
                <input type="text" placeholder="фио">
            </div>
            <div class="form_add__input">
                <select>
                    <option>парикмахер</option>
                    <option>тату-мастер</option>
                </select>
            </div>
            <div class="form_add__input">
                <input type="text" placeholder="номер">
            </div>
            <div class="form_add__input">
                <input type="number" min="0" placeholder="стаж">
            </div>
            <div class="form_add__input">
                <input type="number" min="0" placeholder="зарплата">
            </div>
            <div class="form_add__input">
                <input type="number" min="14" placeholder="возраст">
            </div>
            <div class="form_add__submit">
                <input type="submit" value="Добавить">
            </div>
            <div class="form_add__input">
                <p>Пользователь успешно добавлен!</p>
            </div>
        </form>
    </div>
</div>