@model List<Client>


<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>

<div class="grid_right">
    <div class="grid_right__table">
        <div class="table">
            <div class="thead">
                <div class="row">
                    <div class="cell">ФИО</div>
                    <div class="cell">Телефон</div>
                </div>
            </div>
            <div class="tbody">
                @foreach (var mod in Model)
                {
                    <div class="row">
                        <div class="cell">@mod.Fullname</div>
                        <div class="cell">@mod.ContactsId</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>