@model List<Client>

@{
    ViewData["Area"] = "TableArea";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>

<div class="grid_right">
    <div class="grid_right__table">
        <div class="table">
            <div class="thead">
                <div class="row">
                    <div class="cell">Id</div>
                    <div class="cell">ФИО</div>
                    <div class="cell">Контакты</div>
                    <div class="cell"></div>
                </div>
            </div>
            <div class="tbody">
                @foreach (var mod in Model)
                {
                    <div class="row">
                        <div class="cell">@mod.Id</div>
                        <div class="cell">@mod.Fullname</div>
                        <form class="cell" method="post" asp-controller="Table" asp-action="ClientContacts" style="padding-top: 20px">
                            <input type="hidden" name="contactsId" value=@mod.ContactsId>
                            <input class="butt_more" type="submit" value="Контакты">
                        </form>
                        <form class="cell" method="post" asp-controller="Delete" asp-action="DeleteClientById" style="padding-top: 20px">
                            <input type="hidden" name="clientId" value=@mod.Id>
                            <input class="butt_more" type="submit" value="Удалить">
                        </form>
                    </div>
                }
            </div>

        </div>
    </div>
</div>