@model List<OrderInfo>

@{
    ViewData["Area"] = "TableArea";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>

<div class="grid_right">
    <div class="grid_right__table">
        <div class="table">
            <div class="thead">
                <div class="row">
                    <div class="cell">Id</div>
                    <div class="cell">Id заказа</div>
                    <div class="cell">Название услуги</div>
                    <div class="cell">Оценка</div>
                </div>
            </div>
            <div class="tbody">
                @foreach (var mod in Model)
                {
                    <div class="row">
                        <div class="cell">@mod.Id</div>
                        <div class="cell">@mod.OrderId</div>
                        <div class="cell">@mod.Service?.ServiceName</div>
                        <div class="cell">@mod.Grade</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>