@model List<PostgresLab.ViewModels.OrderViewModel>

@{
    ViewData["Area"] = "TableArea";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>

<div class="grid_right">
    <div class="grid_right__table">
        <div class="table">
            <div class="thead">
                <div class="row">
                    <div class="cell">Id заказа</div>
                    <div class="cell">Id клиента</div>
                    <div class="cell">Дата</div>
                    <div class="cell">Общая стоимость</div>
                    <div class="cell">Информация о заказе</div>
                </div>
            </div>
            <div class="tbody">
                @foreach (var mod in Model)
                {
                    <div class="row">
                        <div class="cell">@mod.OrderId</div>
                        <div class="cell">@mod.ClientId</div>
                        <div class="cell">@mod.OrderDate.ToString()</div>
                        <div class="cell">@mod.SumPrice</div>
                        <form method="post" asp-controller="Table" asp-action="OrderInfos" style="padding-top: 20px">
                            <input type="number" name="orderId" value=@mod.OrderId style="display: none">
                            <input type="submit" value="Подробнее">
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</div>