@model List<Service>

@{
    ViewData["Area"] = "TableArea";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>

<div class="grid_right">
    <div class="grid_right__table">
        <div class="table">
            <div class="thead">
                <div class="row">
                    <div class="cell">Название сервиса</div>
                    <div class="cell">Цена</div>
                    <div class="cell">Мастер</div>
                </div>
            </div>
            <div class="tbody">
                @foreach (var mod in Model)
                {
                    <div class="row">
                        <div class="cell">@mod.ServiceName</div>
                        <div class="cell">@mod.Price</div>
                        <div class="cell">@mod.Master.Fullname</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>