@model PostgresLab.ViewModels.RegisterViewModel

@{
    ViewData["Area"] = "RegisterArea";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>

<div class="grid_right">
    <div class="grid_right__form">
        <h3>Добавление нового пользователя</h3>
        <form method="post" asp-controller="Account" asp-action="Register">
            <div class="form_add__input">
                <input asp-for="Fullname" type="text" placeholder="фио">
            </div>
            <div class="form_add__input">
                <input asp-for="Experience" type="number" min="0" placeholder="стаж">
            </div>
            <div class="form_add__input">
                <input asp-for="Salary" type="number" min="0" placeholder="зарплата">
            </div>
            <div class="form_add__input">
                <input asp-for="Age" type="number" min="14" placeholder="возраст">
            </div>
            <div class="form_add__input">
                <input asp-for="Contacts.PhoneNumber" type="number" placeholder="телефон">
            </div>
            <div class="form_add__input">
                <input asp-for="Contacts.HomeAddress" type="text" placeholder="адрес">
            </div>
            <div class="form_add__input">
                <input asp-for="OrganizationId" type="number" min="0" placeholder="номер организации">
            </div>
            <div class="form_add__input">
                <input asp-for="UserLogin" type="text" placeholder="логин">
            </div>
            <div class="form_add__input">
                <input asp-for="UserPassword" type="text" placeholder="пароль">
            </div>
            <div class="form_add__input">
                <select asp-for="UserRole">
                    <option>worker_role</option>
                    <option>manager_role</option>
                </select>
            </div>
            <div class="form_add__submit">
                <input type="submit" value="Добавить">
            </div>
            <div class="form_add__input">
                <p>Пользователь успешно добавлен!</p>
            </div>
        </form>
    </div>
</div>